venv/
.idea/*
__pycache__/
credentials.py
credentials

# Elastic Beanstalk Files
.elasticbeanstalk/
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
crooked